header{
	border-bottom: 3px solid #43AB38;
	border-top: 3px solid #43AB38;
	background-color: #06C0FF;
	line-height: 20pt;
}
nav{
	border-bottom: 2px solid 
}
body{
	font-family: Arial, Helvetica, sans-serif;

	background-color:#F2FFFF;
	
		

}
a{
	color: blue;

}
